package com.sigecloud.model.pojo;

import com.sigecloud.util.tags.DisplayAs;
import com.sigecloud.util.validators.CiRuc;
import com.sigecloud.util.validators.interfaces.ClienteEditCheck;
import com.sigecloud.util.validators.interfaces.ClienteInsertCheck;
import org.hibernate.validator.constraints.Email;
import javax.validation.constraints.Size;

public class ${className}Obj {

#foreach( $field in $fields )
    #if($field.validar == 1)
    @Size(min = ${field.min},
    max = ${field.max},
    message = "${field.mensaje}",
    groups = {${className}InsertCheck.class, ${className}EditCheck.class})
    private ${field.tipo} ${field.nombre};

    #else
    private ${field.tipo} ${field.nombre};

    #end
#end

    public ${className}Obj() { }

    public ${className}Obj(#foreach( $field in $fields ) ${field.tipo} ${field.nombre},#end) {

    #foreach( $field in $fields )
        this.${field.nombre} = ${field.nombre};
    #end

    }

#foreach( $field in $fields )
    @DisplayAs(value = "${field.label}", index = ${velocityCount})
    public ${field.tipo} get${field.nombre.substring(0,1).toUpperCase()}${field.nombre.substring(1)}() {
        return ${field.nombre};
    }

#end
#foreach( $field in $fields )
    public void set${field.nombre.substring(0,1).toUpperCase()}${field.nombre.substring(1)}(${field.tipo} ${field.nombre}) {
        this.${field.nombre} = ${field.nombre};
    }

#end

    @Override
    public String toString() {
        return "${className}Obj{" +
#foreach( $field in $fields )
                "${field.nombre}='" + ${field.nombre} + '\'' +
#end    
                '}';
    }
}
