package ${rootJavaPackage}.${appPackage}.${dashboardPackage};


//@TODO Add imports to CRUD views from an array of objects
import ${menuImportPackage}.${className}View;

import javafx.event.ActionEvent;
import javafx.fxml.FXML;
import javafx.fxml.Initializable;
import javafx.scene.control.MenuItem;
import javafx.scene.layout.VBox;

import java.net.URL;
import java.util.ResourceBundle;


public class DashboardPresenter implements Initializable {

    @FXML
    private MenuItem ${classNameInstance}Frm;

    @FXML
    private VBox dashBoardContent;

    @FXML
    void mainAppSalir(ActionEvent event) {

    }

    @FXML
    void subMenuParametros(ActionEvent event) {
        ${className}View ${classNameInstance}View = new ${className}View();
        dashBoardContent.getChildren().clear();
        dashBoardContent.getChildren().add(${classNameInstance}View.getView());
    }

    @Override
    public void initialize(URL location, ResourceBundle resources) {

    }
}
